---
import { Icon } from "astro-icon/components";
import Playlist from "./Playlist.astro";
import ListHeader from "./ListHeader.astro";
---

<style>
  .container {
    --dark-theme-color: color-mix(in srgb, var(--theme-color), #000 75%);

    display: grid;
    background: linear-gradient(to bottom, var(--theme-color), var(--dark-theme-color) 60%);
    border-radius: var(--border-radius);
    max-height: 82vh;
    overflow-y: scroll;

    @media (width <= 1300px) {
      height: calc(100% - 250px - 20px);
    }

    &::before {
      content: "";
      position: absolute;
      background:
        linear-gradient(to right, transparent, #000 45%),
        linear-gradient(
          to bottom,
          var(--theme-color),
          var(--dark-theme-color) 60%
        ),
        var(--song-image, linear-gradient(transparent, transparent));
      width: 100vw;
      height: 100vh;
      opacity: 0.025;
      background-blend-mode: normal, color, color;
      pointer-events: none;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 20%;
      background-blend-mode: color;
      z-index: 0;
      transition: opacity 0.25s;
      overflow: hidden;
      display: none;
    }
  }

  .container::-webkit-scrollbar { width: 12px; }
  .container::-webkit-scrollbar-thumb { background: #fff3; border-radius: 0 15px 15px 0; }
  .container::-webkit-scrollbar-track { background: transparent; }
</style>

<div class="container">
  <ListHeader />
  <Playlist />
</div>
