---
import { Icon } from "astro-icon/components";
import SongItem from "@/components/SongItem.astro";
---

<style>
  .playlist {
    --translucid-color: color-mix(in srgb, var(--medium-bgcolor), transparent 65%);
    --playlist-format: 40px 1fr 0.7fr 0.7fr 0.1fr 42px;

    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background: linear-gradient(
      to bottom,
      var(--translucid-color) 0 25%,
      var(--medium-bgcolor) 80% 100%
    );
    container: songitem / inline-size;

    & header {
      display: grid;
      grid-template-columns: var(--playlist-format);
      font-family: var(--default-font);
      font-weight: 500;
      font-size: 0.9rem;
      color: var(--dark-textcolor);

      @container songitem (width <= 1000px) {
        --playlist-format: 135px 1fr;

        & div:nth-child(3),
        & div:nth-child(4),
        & div:nth-child(5) { display: none }
      }

      & > div {
        padding: 0 0.5rem;
      }

      & > div:nth-child(4) {
        text-align: center;
      }

      & + hr {
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--dark-textcolor);
        opacity: 0.25;
      }
    }
  }
</style>

<div class="song playlist">

  <SongItem />

  <header>
    <div class="cell">#</div>
    <div class="cell">Título</div>
    <div class="cell">Álbum</div>
    <div class="cell">Fecha en la que se añadió</div>
    <div class="cell"><Icon name="clock" /></div>
    <div class="cell"></div>
  </header>
  <hr>

</div>
