---
import MainSidebar from "./MainSidebar.astro";
import TopSidebar from "./TopSidebar.astro";
---

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem 0;
  }

  .top-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);

    @media (width <= 1300px) {
      display: none;
    }
  }

  .main-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
    height: 100%;
  }
</style>

<div class="container">
  <div class="top-sidebar">
    <TopSidebar />
  </div>
  <div class="main-sidebar">
    <MainSidebar />
  </div>
</div>
