---
import MainSidebar from "./MainSidebar.astro";
import TopSidebar from "./TopSidebar.astro";
---

<style>
  .container {
    /* display: grid;
    grid-template-rows: 125px 1fr; */
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem 0;
  }

  .top-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
  }

  .main-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
    height: 100%;
  }
</style>

<div class="container">
  <div class="top-sidebar">
    <TopSidebar />
  </div>
  <div class="main-sidebar">
    <MainSidebar />
  </div>
</div>
