---
import playlist from "@/data/playlist.json";
import PlayListItem from "@/components/PlayListItem.astro";
import RowItem from "@/components/RowItem.astro";
import { Icon } from "astro-icon/components";

const sortRule = (a, b) => a.pinned ? -1 : 1;
---

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  .titlebar-container {

    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;

    @media (width <= 1300px) {
      display: none;
    }

    & .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
    }

    & .filters {
      display: flex;
      gap: 0.25rem;
      padding: 1rem;
      grid-column-start: 1;
      grid-column-end: 3;

      & > div {
        background: var(--light-bgcolor);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-family: var(--default-font);
        font-size: 0.8rem;
      }

    }
  }

  .playlist-container {
    font-family: var(--default-font);
    font-size: 0.9rem;

    & .search-container {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;

      & input[type="search"] {
        border: 0;
        background: transparent;
        padding: 0.4rem 0;
        margin: 0 0.5rem;
        width: 150px;
      }

      & > span {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }

    }

    & .playlist {
      display: flex;
      flex-direction: column;
      gap: 0 0.5rem;
      padding: 0 0.5rem;
      /* overflow-y: scroll; */
      max-width: 90vw;

      @media (width <= 1300px) {
        display: grid;
        grid-auto-flow: column dense;
        overflow-x: scroll;
      }
    }

    .playlist::-webkit-scrollbar { width: 12px; }
    .playlist::-webkit-scrollbar-thumb { background: #4442; border-radius: 0 15px 15px 0; }
    .playlist::-webkit-scrollbar-track { background: transparent; }

  }
</style>

<div class="container">

  <div class="titlebar-container">
      <div class="titlebar">
        <RowItem icon="books" label="Tu lista actual" />
      </div>
      <div class="buttons">
        <span></span>
        <Icon name="arrow-right" />
      </div>
      <div class="filters">
        <div>Listas</div>
        <div>Artistas</div>
        <div>Álbumes</div>
      </div>
  </div>

  <div class="playlist-container">

    <div class="search-container">
      <span><Icon name="list" /> Listas</span>
    </div>

    <div class="playlist">

      { playlist
          .sort((a,b) => sortRule(a))
          .map(pItem => <PlayListItem {...pItem} />) }

    </div>

  </div>

</div>
