---
import { Icon } from "astro-icon/components";
import Playlist from "@/ui/Playlist.astro";
import BalloonButton from "@/components/BalloonButton.astro";
import { getDominantColor } from "@/modules/getDominantColor.server.js";
import ListHeader from "@/components/ListHeader.astro";

const coverPlaylist = "/playlist/musicdev.webp";
const dominantColor = await getDominantColor(coverPlaylist);
---

<style>
  .container {
    --dark-theme-color: color-mix(in srgb, var(--theme-color), #000 75%);

    display: grid;
    grid-template-rows: 400px 1fr;
    background: linear-gradient(to bottom, var(--theme-color), var(--dark-theme-color) 60%);
    border-radius: var(--border-radius);
    max-height: 82vh;

    overflow-y: scroll;

    /*
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: linear-gradient(to right, transparent, #000 50%), linear-gradient(to bottom, var(--theme-color), var(--dark-theme-color) 60%), url(/playlist/metaldev/el-guardian-del-hipertexto-alternative-metal-version.webp);
      width: 100%;
      height: 100%;
      opacity: 0.1;
      background-blend-mode: normal, color, color;
    }
    */
  }

  .container::-webkit-scrollbar { width: 12px; }
  .container::-webkit-scrollbar-thumb { background: #fff3; border-radius: 0 15px 15px 0; }
  .container::-webkit-scrollbar-track { background: transparent; }
</style>

<style define:vars={{ dominantColor }}>
  .container {
    --theme-color: var(--dominantColor);
  }
</style>

<div class="container">
  <ListHeader />
  <Playlist />
</div>
