---
import { Icon } from "astro-icon/components";
import songs from "@/data/musicdev.json";
import SongItem from "@/components/SongItem.astro";
---

<style>
  .playlist {
    --translucid-color: color-mix(in srgb, var(--medium-bgcolor), transparent 65%);
    --playlist-format: 40px 1fr 0.7fr 0.7fr 0.1fr;

    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background: linear-gradient(
      to bottom,
      var(--translucid-color) 0 25%,
      var(--medium-bgcolor) 80% 100%
    );

    & header {
      display: grid;
      grid-template-columns: var(--playlist-format);
      font-family: var(--default-font);
      font-weight: 500;
      font-size: 0.9rem;
      color: var(--dark-textcolor);

      & > div {
        padding: 0 0.5rem;
      }

      & > div:nth-child(4) {
        text-align: center;
      }

      & + hr {
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--dark-textcolor);
        opacity: 0.25;
      }
    }
  }
</style>

<script type="module">
  const playList = document.querySelector(".song.playlist");
  playList.addEventListener("click", (ev) => {
    const isDoubleClick = ev.detail === 2;

    if (isDoubleClick) {
      const rowItem = ev.composedPath().find(tag => tag.classList?.contains("row-item"));
      if (rowItem) {
        const id = Number(rowItem.dataset.id);
        const event = new CustomEvent("player:play", { detail: id, bubbles: true })
        document.dispatchEvent(event);
      }
    }
  })
</script>

<div class="song playlist">

  <header>
    <div class="cell">#</div>
    <div class="cell">Título</div>
    <div class="cell">Álbum</div>
    <div class="cell">Fecha en la que se añadió</div>
    <div class="cell"><Icon name="clock" /></div>
  </header>
  <hr>

  {songs.map((song, index) => <SongItem index={index} {...song} />)}

</div>
