---
---

<style>
  .container {
    display: grid;
    grid-template-rows: 150px 1fr;
    height: 100%;
    gap: 1rem 0;
  }

  .top-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
  }

  .main-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
  }
</style>

<div class="container">
  <div class="top-sidebar">

  </div>
  <div class="main-sidebar">

  </div>
</div>
