---
import RowItem from "@/components/RowItem.astro";
---

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.25rem 0;
  }
</style>

<div class="container">
  <RowItem icon="home" label="Inicio" />
  <RowItem icon="search" label="Buscar" />
</div>
