---
import SongVolume from "./SongVolume.astro";
import SongInfo from "./SongInfo.astro";
import SongPlayer from "./SongPlayer.astro";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
    justify-content: space-between;
    height: 100%;
    padding-right: 1.5rem;
  }
</style>

<div class="container">
  <SongInfo />
  <SongPlayer />
  <SongVolume />
</div>
