---
import { Icon } from "astro-icon/components";
---

<style>
  .song-volume-container {
    width: 200px;
    margin-left: auto;
    height: 100%;

    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 0 0.1rem;
    align-items: center;
  }
</style>

<div class="song-volume-container">
  <Icon name="volume-50" />
  <progress-slider id="volume" value="100"></progress-slider>
</div>
