---
import { Icon } from "astro-icon/components";
import MusicPlayer from "@/components/MusicPlayer.astro";
import ProgressSlider from "@/components/ProgressSlider.astro";
---

<ProgressSlider />

<style>
  .song-player-container {
    min-width: 700px;
    height: 100%;
    display: grid;
    grid-template-rows: 42px 24px;
    align-content: center;

    & .buttons {
      display: inline-grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(2, 50px) 64px repeat(2, 50px);
      grid-template-rows: 1fr;
      margin: auto;

      & button {
        cursor: pointer;
        background: none;
        border: 0;
        font-size: 1rem;

        &.disabled svg {
          color: #444;
        }
      }

      & .circle {
        --size: 40px;

        width: var(--size);
        height: var(--size);
        background: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #000;
      }
    }

    & .time-container {
      --time-size: 42px;

      display: grid;
      grid-template-columns: var(--time-size) 1fr var(--time-size);
      align-items: center;
      gap: 0 1rem;
      font-family: var(--default-font);
      font-size: 0.9rem;

      & .bar-container {
        --progress: 100%;

        background: #666;
        height: 5px;
        border-radius: 2px;
        overflow: hidden;

        & .bar {
          background: #fff;
          width: var(--progress);
          height: 100%;
        }
      }
    }
  }
</style>

<MusicPlayer />

<div class="song-player-container">
  <div class="buttons">
    <button class="shuffle disabled"><Icon name="shuffle" /></button>
    <button class="prev"><Icon name="backward" /></button>
    <button class="play circle">
      <div class="play"><Icon name="play" /></div>
      <div class="pause" hidden><Icon name="pause" /></div>
    </button>
    <button class="next"><Icon name="forward" /></button>
    <button class="repeat disabled"><Icon name="repeat" /></button>
  </div>
  <div class="time-container">
    <time>00:00</time>
    <progress-slider id="current-song"></progress-slider>
    <time>00:00</time>
  </div>
</div>
