---
import BaseLayout from "@/layout/base.astro";
import Titlebar from "@/ui/Titlebar/index.astro";
import Sidebar from "@/ui/Sidebar/index.astro";
import Content from "@/ui/Content/index.astro";
import Player from "@/ui/Player/index.astro";

const title = "SpotiManz";
---

<style>
  .container {
    display: grid;
    grid-template-rows: 3rem 1fr 6rem;
    background: var(--dark-bgcolor);
    padding: 1rem;
  }

  .player {
    background: var(--dark-bgcolor);
  }

  .content-container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .content {
    padding: 0 1rem;
  }
</style>

<BaseLayout title={title}>

  <div class="container">
    <div class="titlebar">
      <Titlebar />
    </div>
    <div class="content-container">
      <div class="sidebar">
        <Sidebar />
      </div>
      <div class="content">
        <Content />
      </div>
    </div>
    <div class="player">
      <Player />
    </div>
  </div>

</BaseLayout>
