---
import BaseLayout from "@/layout/base.astro";
import Titlebar from "@/ui/Titlebar/index.astro";
import Sidebar from "@/ui/Sidebar/index.astro";
import Content from "@/ui/Content/index.astro";
import Player from "@/ui/Player/index.astro";
import CoverCard from "@/components/CoverCard.astro";

const title = "Music Manz Player - Manz.dev";
---

<CoverCard />

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    /* height: 100%; */
    justify-content: center;
    background: var(--dark-bgcolor);
    padding: 1rem;
  }

  .titlebar {
    height: 20px;
    padding-bottom: 10px;

    @media (width <= 1300px) {
      display: none;
    }
  }

  .player {
    background: var(--dark-bgcolor);
    height: var(--player-height);
    width: 100%;
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 25;
    box-sizing: border-box;
  }

  .content-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: calc(100% - var(--player-height));

    @media (width <= 1300px) {
      grid-template-columns: 1fr;
    }
  }

  .content {
    padding: 0;
    padding-left: 1rem;

    @media (width <= 1300px) {
      padding-top: 1rem;
      padding-left: 0;
    }
  }
</style>

<BaseLayout title={title}>

  <div class="container">
    <div class="titlebar">
      <Titlebar />
    </div>
    <div class="content-container">
      <div class="sidebar">
        <Sidebar />
      </div>
      <div class="content">
        <Content />
      </div>
    </div>
    <div class="player">
      <Player />
    </div>
  </div>

</BaseLayout>
