---
import { Icon } from "astro-icon/components";
---

<style>
  .container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: var(--dark-bgcolor);
    height: 100%;
    color: var(--light-textcolor);

    & span {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
    }
  }

  .ico {
    --size: 18px;

    width: var(--size);
    height: var(--size);
    vertical-align: top;
    translate: 0 1px;
  }

  .control-so {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
</style>

<div class="container">
  <div class="dots">
    <img class="ico" src="https://music.manz.dev/favicon.png" alt="Music Manz Icon" /> <span>Music Manz Player</span>
  </div>

  <div class="control-so">
    <div class="button">
      <Icon name="minimize" />
    </div>
    <div class="button">
      <Icon name="maximize" />
    </div>
    <div class="button">
      <Icon name="close" />
    </div>
  </div>
</div>
