---
const { title } = Astro.props;
---

<style>
  :root {
    --light-bgcolor: #232323;
    --medium-bgcolor: #121212;
    --dark-bgcolor: #000;
    --border-radius: 15px;

    --theme-color: #f007c3;

    --light-textcolor: #fff;
    --dark-textcolor: #a7a39f;
    --accent-color: #1ed760;
    --offset: 0.5rem;

    --default-font: "Open Sans", sans-serif, system-ui;
  }

  html {
    color-scheme: dark;
  }

  body {
    background: linear-gradient(indigo, deeppink);
    margin: var(--offset);
    height: calc(100vh - var(--offset));
    overflow: hidden;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<slot></slot>
	</body>
</html>
