---
import InstallButton from '@/components/InstallButton.astro';
const { title } = Astro.props;
---

<style>
  @font-face {
    font-family: "Open Sans";
    src:
      url("/player/fonts/open-sans.woff2") format("woff2"),
      url("/player/fonts/open-sans.woff") format("woff"),
      url("/player/fonts/open-sans.ttf") format("truetype");
  }

  :root {
    --light-bgcolor: #232323;
    --medium-bgcolor: #121212;
    --dark-bgcolor: #000;
    --border-radius: 15px;

    --theme-color: #f007c3;

    --light-textcolor: #fff;
    --dark-textcolor: #a7a39f;
    --accent-color: #1ed760;
    --offset: 0.5rem;

    --default-font: "Open Sans", sans-serif, system-ui;
    --player-height: 125px;
  }

  html {
    color-scheme: dark;
  }

  body {
    /* background: linear-gradient(indigo, deeppink);*/
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
    <link rel="manifest" href="/player/manifest.json">
	</head>
	<body>
		<slot></slot>
    <InstallButton />
	</body>
</html>

<script>
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/player/sw.js')
  })
</script>
